body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white;
  color: #333;
}

.container {
  padding: 20px;
}

.navbar {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: orange;
  padding: 10px 20px;
  border-radius: 8px;
}

.logo {
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.nav-buttons button {
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px 10px;
  border: none;
  background-color: white;
  color: orange;
  border-radius: 5px;
  cursor: pointer;
}

.main-section {
  margin-top: 40px;
  text-align: center;
}

.form-card {
  margin: 20px auto;
  padding: 20px;
  width: 300px;
  border: 2px solid orange;
  border-radius: 15px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.radio-group {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.continue-btn {
  padding: 10px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
